/* admin_business_policies.css */

body {
    background-color: #1e2b39;
    color: #fff;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Use Roboto font for the body */
    margin: 20px; /* Add some margin to the body */
}

h1 {
    margin-bottom: 10px; /* Add margin below the heading */
}

#policyFilter {
    margin-bottom: 20px; /* Add space between the filter and the list */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Add rounded corners to the filter input */
    background-color: #444; /* Set a different background color */
    color: #fff;
    font-size: 16px;
}
.list-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.list-item-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
    list-style: none;
}

.list-item-box:hover {
    background-color: #107ab0;
}

.list-item-name {
    font-size: 18px;
    font-weight: bold;
}

.expanded-details-container {
    margin-top: 10px;
    padding: 10px;
    background-color: #555;
    color: #fff;
    display: none;
}

.expanded-details-container.visible {
    display: block;
}

.expanded-details {
    margin-top: 10px;
    font-size: 16px;
}

.edit-button,
.save-button,
.cancel-button,
.delete-button {
    background-color: #3498db; /* Blue */
    color: #fff; /* White */
    border: none;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.edit-button:hover,
.save-button:hover,
.cancel-button:hover,
.delete-button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

/* Style for the "Delete" button */
.delete-button {
    background-color: #e74c3c; /* Red */
}

.delete-button:hover {
    background-color: #c0392b; /* Darker red on hover */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding: 20px;
}

.modal-content {
    background-color: rgb(0,0,0);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content button {
    background-color: green;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Add hover effect */
.modal-content button:hover {
    background-color: darkgreen;
}

.modal-content label {
    margin-top: 5px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px; /* Add some margin between the label and input */
}

.insertPolicyButton {
    background-color: green;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px; /* Set width and height to ensure a perfect circle */
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-top: 20px;
}

.insertPolicyButton:hover {
    background-color: darkgreen;
}

.insertPolicyButton::after {
    content: "+"; /* Add a plus sign content */
    font-size: 24px; /* Adjust plus sign size */
}